
body{
	font-family: 'Roboto', sans-serif;
}
p {
    margin: 0 0 4px;
}
.form-control {
    height: 50px;
    }
.navbar_background{
	    background-color: #fff0;
    border-color: #ffffff;
    padding: 18px 26px 0px 48px;
    font-family: 'Days One', sans-serif;
}
.navbar_background .navbar-nav>li>a {
    color: black;
}
.navbar_background .navbar-nav>li>a:hover {
    color: #0274be;
    background-color: transparent;
}
.navbar2_background{
	background-color: #4d60a5;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #4d60a5;
}
.navbar-inverse .navbar-toggle {
    border-color: #4d60a5;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #10101000;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: inherit;
}
@media (min-width: 768px)
{
	.col-sm-25 {
	    width: 20%;
	}
	 center .fas {
	font-size: 2em;
	}
}
.fa_border{
	    border: 3px solid white;
	    border-radius: 50%;
	    padding: 2px;
	        padding: .5em;
}